@model ExamSubject
@{
    ViewData["Title"] = "Create";
}
<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Subject</h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Home" asp-area="Admin">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Create New Subject
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="dt-action-buttons text-right offset-1">
        <div class="dt-buttons d-inline-flex">
            <a class="btn btn-primary" asp-area="Admin" asp-action="Index">
                <span><i class="fa fa-list pr-1"></i>Subject List</span>
            </a>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="multiple-column-form">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form" asp-action="Save">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Subject Name</label>
                                        <input class="form-control" placeholder="Values" asp-for="SubjectName" />
                                        <span class="text-danger" asp-validation-for="SubjectName"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary mr-1">Submit/Update</button>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Id" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Floating Label Form section end -->
</div>
<partial name="_ValidationScriptsPartial" />